page-avatar {

    ion-content{
        background: url("../../assets/imgs/fondo (1).png");
        background-size: 100%; 
    }
  
    #nextAvatar{
        border-color: #FBFCFC;
        position: relative;
        }


}
